a {
    color: inherit;
    text-decoration: none;
}

ul li {
    list-style-type: none;
}

label {
    cursor: default;
}

body {
    overflow:scroll;
    overflow-x:hidden;
    background-color: #f6f6f6;
}

/* <body scroll="no"> */
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
input,
textarea,
p,
blockquote,
th,
td {
    margin: 0;
    padding: 0;
}