@font-face {
  font-family: "iconfont"; /* Project id 2702323 */
  src: url('./iconfont.woff2?t=1627545817195') format('woff2'),
       url('./iconfont.woff?t=1627545817195') format('woff'),
       url('./iconfont.ttf?t=1627545817195') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-icon2:before {
  content: "\e606";
}

.icon-fengshan-copy:before {
  content: "\e602";
}

.icon-bookshelf:before {
  content: "\e603";
}

.icon-shandian:before {
  content: "\e60e";
}

.icon-fufei-copy:before {
  content: "\e604";
}

.icon-bi:before {
  content: "\e664";
}

.icon-baike:before {
  content: "\e735";
}

.icon-feiyongwenti:before {
  content: "\e72d";
}

.icon-ren:before {
  content: "\e6c3";
}

.icon-xiewenzhang:before {
  content: "\e645";
}

.icon-shipin:before {
  content: "\e668";
}

.icon-lightbulb:before {
  content: "\e724";
}

.icon-gengduo:before {
  content: "\e615";
}

.icon-xihuan:before {
  content: "\e633";
}

.icon-fenxiang2:before {
  content: "\e63e";
}

.icon-ziyuan:before {
  content: "\e627";
}

.icon-c:before {
  content: "\e601";
}

.icon-fuwuerji:before {
  content: "\e626";
}

.icon-wenti:before {
  content: "\e605";
}

.icon-huo:before {
  content: "\e70a";
}

.icon-yueguanli:before {
  content: "\e62a";
}

.icon-bangzhu:before {
  content: "\e733";
}

.icon-wodeyaoqing:before {
  content: "\e61c";
}

.icon-sousuo1:before {
  content: "\e610";
}

.icon-bangzhukefu:before {
  content: "\e72a";
}

.icon-shoucang:before {
  content: "\e629";
}

.icon-dingdanzhongxin:before {
  content: "\e614";
}

.icon-xinxi:before {
  content: "\e649";
}

.icon-icon_news_fill:before {
  content: "\e600";
}

.icon-sousuo:before {
  content: "\e623";
}

